@charset "UTF-8";
@import "https://fonts.googleapis.com/earlyaccess/notosanstc.css";
.button {
  position: relative;
  width: 280px;
  height: 160px;
  max-width: 40vh;
  max-height: 20vh;
  border: none;
  outline: none;
  background: none;
  -webkit-user-select: none;
          user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
@media screen and (max-aspect-ratio: 2/3) {
  .button {
    max-width: 60vw;
  }
}
.button .btn-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 99%;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  opacity: 1;
}
.button .btn-img.active {
  position: absolute;
  opacity: 0;
}
.button:active .btn-img {
  transition: none;
}
.button:active .btn-img.active {
  opacity: 1;
}
.button:active .btn-img.regular {
  opacity: 0;
}

.layer-ui {
  top: 0;
  height: 100%;
}
.layer-ui .timer {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  max-width: 45vh;
  height: 500px;
  max-height: 45vh;
}
.layer-ui .timer .timer-bg {
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.layer-ui .timer .timer-mask {
  position: absolute;
  left: 50%;
  top: 39%;
  width: 31%;
  height: 31%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border-radius: 50%;
}
.layer-ui .timer .timer-mask svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.layer-ui .timer .timer-mask path {
  transition: stroke-dashoffset 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.layer-ui .timer img {
  width: 100%;
  height: 100%;
}
.layer-ui .timer .digit {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  color: white;
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
  left: 0;
  right: 0;
}
.layer-ui .button {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 15%;
  transform: translateY(50%);
}

.game-overlay {
  background: rgba(0, 0, 0, 0.7);
}
.game-overlay .game-overlay-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-overlay .count-down {
  justify-content: center;
  align-items: center;
  font-size: 22rem;
  color: white;
  font-weight: bold;
}
.game-overlay .result {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
}
.game-overlay .result .image {
  width: 360px;
  max-width: 45vh;
  margin-bottom: 1vh;
}
@media screen and (max-aspect-ratio: 2/3) {
  .game-overlay .result .image {
    max-width: 35vh;
    width: 86%;
  }
}
.game-overlay .result .image img {
  width: 100%;
  max-height: calc(100vh - 250px);
  object-fit: contain;
}

.button2 {
  flex-shrink: 0;
  position: relative;
  width: 280px;
  height: 100px;
  max-width: 40vh;
  max-height: 20vh;
  border: none;
  outline: none;
  background: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin: 0 10px;
}
.button2 .btn-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 99%;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  opacity: 1;
}
.button2 .btn-img.active {
  position: absolute;
  opacity: 0;
}
.button2:active .btn-img {
  transition: none;
}
.button2:active .btn-img.active {
  opacity: 1;
}
.button2:active .btn-img.regular {
  opacity: 0;
}

.btn_flex {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

@media screen and (orientation: portrait) {
  .btn_flex {
    flex-direction: column;
    align-items: center;
  }

  .button2 {
    max-width: 60vw;
    max-height: 12vh;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Noto Sans", "Noto Sans TC", "思源黑體", sans-serif;
}

.game-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.game-view img {
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
}
.game-view span {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
.game-view p {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.game-overlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: flex;
}
.game-overlay img {
  touch-action: manipulation;
  -webkit-user-select: none;
  user-select: none;
}
.game-overlay span {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}
.game-overlay p {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.layer {
  position: absolute;
  width: 100%;
}
.layer .fn-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: repeat-x;
  transform: translateZ(0);
  will-change: background;
}

.layer1 {
  width: 100%;
  height: 55%;
  top: 0;
}
.layer1 .sky,
.layer1 .city {
  background-size: auto 100%;
  background-position: center bottom;
  background-repeat: repeat-x;
}
.layer1 .sky {
  background-image: url(./images/bg.jpg);
}
.layer1 .city {
  background-image: url(./images/city.png);
  background-size: auto 80%;
  background-position: center bottom;
}

.layer2 {
  width: 100%;
  height: 50%;
  top: 50%;
}
.layer2 .stage {
  background-image: url(./images/floor.jpg);
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.layer3 {
  top: 0%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.layer3 .lights,
.layer3 .structure,
.layer3 .light-container {
  position: absolute;
  width: 100%;
  height: 76vh;
}
.layer3 .structure {
  background-image: url(./images/stage_noLight.png);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.layer3 .structure .speaker {
  width: 11.5vh;
  height: 11.5vh;
  position: absolute;
  background-image: url(./images/speaker.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.layer3 .structure .speaker:nth-child(1) {
  left: calc(50% + 72vh);
  bottom: 2.4vh;
}
.layer3 .structure .speaker:nth-child(2) {
  left: calc(50% + 72vh);
  bottom: 19.7vh;
}
.layer3 .structure .speaker:nth-child(3) {
  right: calc(50% + 72vh);
  bottom: 2.4vh;
}
.layer3 .structure .speaker:nth-child(4) {
  right: calc(50% + 72vh);
  bottom: 19.7vh;
}
.layer3 .light-container .stage-light {
  position: absolute;
  top: 22%;
  transform-origin: center top;
  height: 60%;
}
.layer3 .light-container .stage-light img {
  transform-origin: center top;
  height: 100%;
  width: auto;
  animation: spot-move 2000ms infinite alternate linear;
}
.layer3 .light-container .stage-light:nth-child(1) {
  right: calc(50% + 19vh);
  transform: translateX(-50%) rotate(-40deg);
}
.layer3 .light-container .stage-light:nth-child(1) img {
  animation-delay: -2000ms;
}
.layer3 .light-container .stage-light:nth-child(2) {
  right: calc(50% - 2vh);
  transform: translateX(-50%) rotate(-21deg);
}
.layer3 .light-container .stage-light:nth-child(2) img {
  animation-delay: -2000ms;
}
.layer3 .light-container .stage-light:nth-child(3) {
  left: calc(50% - 2vh);
  transform: translateX(50%) rotate(21deg);
}
.layer3 .light-container .stage-light:nth-child(4) {
  left: calc(50% + 19vh);
  transform: translateX(50%) rotate(40deg);
}

@keyframes spot-move {
  from {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(5deg);
  }
}
.layer4 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer4 .char.shadow-container {
  background: none;
}
.layer4 .char.shadow-container .char-shadow {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 82%;
  width: 81%;
  height: 18%;
  background: #ff6666;
  border-radius: 50%;
}
.layer4 .char {
  position: absolute;
  height: 45vh;
  width: 45vh;
  background-image: url(./images/char-sprite.png);
  background-size: auto 400%;
  background-repeat: no-repeat;
  background-position: center 100%;
  transform-origin: center -50%;
  transition: transform 100ms;
  will-change: transform;
}
.layer4 .char .left,
.layer4 .char .right {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.layer4 .char .left:before,
.layer4 .char .right:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 200%;
  height: 100%;
  background-image: url(./images/char-sprite.png);
  background-size: auto 400%;
  background-repeat: no-repeat;
  background-position: center calc(100% / 3 * 0);
}
.layer4 .char .left.act1:before,
.layer4 .char .right.act1:before {
  background-position: center calc(100% / 3 * 2);
}
.layer4 .char .left.act2:before,
.layer4 .char .right.act2:before {
  background-position: center calc(100% / 3 * 1);
}
.layer4 .char .left {
  right: 50%;
}
.layer4 .char .left:before {
  left: 0;
  will-change: background;
}
.layer4 .char .right {
  left: 50%;
}
.layer4 .char .right:before {
  right: 0;
  will-change: background;
}
.layer4 .char .emoji {
  position: absolute;
  top: 44%;
  left: 41.4%;
  width: 7.2%;
  height: 7.2%;
  background-image: url(./images/emoji.png);
  background-size: auto 200%;
  background-position: center bottom;
  will-change: transform;
}
.layer4 .char .emoji.miss {
  background-position: center top;
}

.layer5 {
  bottom: 0;
  height: 100%;
}
.layer5 .audience-wrapper {
  z-index: 0;
  position: absolute;
  width: 42vh;
  height: 33vh;
  bottom: 0;
}
.layer5 .audience-wrapper2 {
  z-index: 0;
  position: relative;
  width: 80vh;
  height: 100%;
  bottom: 2vh;
}
.layer5 .audience-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.layer5 .audience-wrapper--right {
  right: 0;
}
.layer5 .audience-wrapper--right .audience-bg {
  background-image: url(./images/audience_r.png);
}
.layer5 .audience-wrapper--left {
  left: 0;
}
.layer5 .audience-wrapper--left .audience-bg {
  background-image: url(./images/audience_l.png);
}
.layer5 .audience-wrapper--center {
  margin: 0 auto;
}
.layer5 .audience-wrapper--center .audience-bg {
  background-image: url(./images/light.png);
}
@media (max-width: 992px) {
  .layer5 .audience-wrapper--center {
    display: none;
  }
}
@media screen and (orientation: portrait) {
  .layer5 .audience-wrapper {
    width: 38vw;
    min-width: 130px;
    height: 38vw;
    min-height: 100px;
    bottom: 0vw;
  }
  .layer5 .audience-wrapper--left {
    right: 62vw;
  }
  .layer5 .audience-wrapper--right {
    left: 62vw;
  }
}

.layer-ui .game-panel {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80vh;
  height: 20vh;
  bottom: 14%;
  background-image: url(./images/panel-bg.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}
.layer-ui .game-panel .heart-wrapper {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: -0.65em;
  width: 1.4em;
  height: 0.6em;
}
.layer-ui .game-panel .heart-wrapper .heart {
  width: 0.25em;
  height: 0.25em;
  background-image: url(./images/heart-on.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.layer-ui .game-panel .heart-wrapper .heart:nth-child(1) {
  position: absolute;
  left: 0;
  bottom: 0;
}
.layer-ui .game-panel .heart-wrapper .heart:nth-child(2) {
  position: absolute;
  left: 0.27em;
  bottom: 0.13em;
}
.layer-ui .game-panel .heart-wrapper .heart:nth-child(3) {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.layer-ui .game-panel .heart-wrapper .heart:nth-child(4) {
  position: absolute;
  right: 0.27em;
  bottom: 0.13em;
}
.layer-ui .game-panel .heart-wrapper .heart:nth-child(5) {
  position: absolute;
  right: 0;
  bottom: 0;
}
.layer-ui .game-panel .heart-wrapper .heart.heart-off {
  background-image: url(./images/heart-off.svg);
}
.layer-ui .game-panel .dynamic-area {
  font-size: 8.6vh;
  position: absolute;
  bottom: 1px;
  left: 0.9em;
  right: 0.9em;
  bottom: 0.14vh;
  height: 1em;
}
.layer-ui .game-panel .music-icon {
  position: absolute;
  margin: auto;
  width: 1em;
  height: 1em;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: url(./images/mid.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.layer-ui .game-panel .arrow-button {
  position: absolute;
  bottom: 0;
  height: 1em;
  width: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-user-select: none;
          user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.layer-ui .game-panel .arrow-button:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 150%;
  height: 300%;
}
.layer-ui .game-panel .arrow-button:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.02;
  will-change: opacity;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.layer-ui .game-panel .arrow-button:active:before, .layer-ui .game-panel .arrow-button.active:before {
  opacity: 1;
}
.layer-ui .game-panel .arrow-button.left-arrow-button {
  left: 0;
  background-image: url(./images/btn-blue.png);
  transform: translateX(-50%);
}
.layer-ui .game-panel .arrow-button.left-arrow-button:after {
  right: 0;
}
.layer-ui .game-panel .arrow-button.left-arrow-button:before {
  background-image: url(./images/btn-blue-hover.png);
}
.layer-ui .game-panel .arrow-button.right-arrow-button {
  right: 0;
  background-image: url(./images/btn-red.png);
  transform: translateX(50%);
}
.layer-ui .game-panel .arrow-button.right-arrow-button:after {
  left: 0;
}
.layer-ui .game-panel .arrow-button.right-arrow-button:before {
  background-image: url(./images/btn-red-hover.png);
}
.layer-ui .game-panel .arrow-button .good,
.layer-ui .game-panel .arrow-button .miss {
  width: 120%;
  height: 50%;
  left: -10%;
  top: -50%;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  animation: slide-up 1000ms;
  animation-fill-mode: both;
  will-change: transform, opacity;
}
.layer-ui .game-panel .arrow-button .good {
  background-image: url(./images/good.png);
}
.layer-ui .game-panel .arrow-button .miss {
  background-image: url(./images/miss.png);
}
.layer-ui .game-panel .area {
  position: absolute;
  width: 50%;
  height: 100%;
  pointer-events: none;
}
.layer-ui .game-panel .area .point {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  transition: opacity 1000ms;
  will-change: transform, opacity;
}
.layer-ui .game-panel .area .point:before {
  content: "";
  position: absolute;
  height: 0.85em;
  width: 0.85em;
  transform: translate(-50%, -50%);
  background-size: contain;
}
.layer-ui .game-panel .area-left {
  left: 0;
  top: 0;
}
.layer-ui .game-panel .area-left .point {
  right: 0;
}
.layer-ui .game-panel .area-left .point:before {
  background-image: url(./images/blue.png);
}
.layer-ui .game-panel .area-right {
  right: 0;
  top: 0;
}
.layer-ui .game-panel .area-right .point {
  left: 0;
}
.layer-ui .game-panel .area-right .point:before {
  background-image: url(./images/red.png);
}
.layer-ui .sound {
  position: absolute;
  left: calc(50% + 9vh);
  top: 22vh;
}
.layer-ui .sound.active .icon-off {
  opacity: 0;
  visibility: hidden;
}
.layer-ui .sound .icon {
  position: absolute;
  left: 0;
  top: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 8vh;
  height: 8vh;
  transition: opacity 300ms, visibility 300ms;
}
.layer-ui .sound .icon-off {
  background-image: url(./images/sound-off.png);
  cursor: pointer;
}
.layer-ui .sound .icon-on {
  background-image: url(./images/sound-on.png);
}
.layer-ui .sound .cursor {
  background: url(./images/cursor.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 70%;
  top: 45%;
  animation: swing 500ms alternate infinite;
}
.layer-ui .sound .cursor-text {
  background-image: url(./images/sound-text-pc.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 250%;
  height: 100%;
  position: absolute;
  left: 185%;
  top: 45%;
}
@media screen and (orientation: portrait) {
  .layer-ui .sound .cursor-text {
    background-image: url(./images/sound-text-mobile.png);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    width: 100%;
    height: 250%;
    position: absolute;
    left: 70%;
    top: 135%;
  }
}

@keyframes swing {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10%);
  }
}
@media screen and (orientation: portrait) {
  .layer-ui .game-panel {
    width: 100%;
    height: 25vw;
    background-image: url(./images/panel-bg-s.png);
    overflow: initial;
  }
  .layer-ui .game-panel .dynamic-area {
    font-size: 14.4vw;
    left: 0.77em;
    right: 0.77em;
  }

  .layer.layer4 .char {
    height: 32vh;
    width: 32vh;
    margin-top: 5%;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50%);
    opacity: 0;
  }
}